@charset "utf-8";

$blue: #2f3658;
$darkBlue: #202538;

// vender prefix
$set-prefix: -ms-, -webkit-, '';
@mixin v_prefix($name, $value){
  @each $prefix in $set-prefix{
    #{$prefix}#{$name}: $value;
  }
}

// layout
@mixin flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin inlineFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
@mixin flexGrow($grow) {
  -webkit-box-flex: $grow;
  -ms-flex: $grow;
  -webkit-flex: $grow;
  flex: $grow;
}
@mixin justifyCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@mixin justifyStart {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@mixin justifyEnd {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@mixin alignCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@mixin alignTop {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@mixin alignBottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@mixin directionCol {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@mixin directionRow {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@mixin flexColReverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flexRowReverse {
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@mixin colCount($colCount) {
  -moz-column-count: $colCount;
  -webkit-column-count: $colCount;
  column-count: $colCount;
}
@mixin colGap($colGap) {
  -moz-column-gap: $colGap;
  -webkit-column-gap: $colGap;
  column-gap: $colGap;
}
@mixin flexWrap($flexWrap) {
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
@mixin appearanceNone {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



/*------------------------------------------------------------------------------------

  reset

------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display: block;
}
ol, ul {
  list-style: none;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}



/*------------------------------------------------------------------------------------

  base

------------------------------------------------------------------------------------*/
*,
*:before,
*:after{
  box-sizing: inherit;
}
html{
  height: 100%;
  box-sizing: border-box;
}
body{
  height: 100%;
  line-height: 1.4;
  background-color: #fff;
  color: $darkBlue;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/*------------------------------------------------------------------------------------

  header

------------------------------------------------------------------------------------*/
.globalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 56px;
  transition: all .3s ease-out;
  &.fixed {
    background-color: #fff;
    .globalNavItem {
      color: $darkBlue;
      span:before {
        background-color: $darkBlue;
      }
    }
    .headerLogo {
      opacity: 1;
    }
    .spMenuBtn {
      &:before,
      &:after {
        background-color: $darkBlue;
      }
      span {
        background-color: $darkBlue;
      }
    }
  }
  .headerLogo {
    opacity: 0;
    flex: 1 auto;
    margin-right: 16px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: opacity .3s ease-out;
    span {
      display: block;
      overflow: hidden;
      width: 28px;
      height: 28px;
      background: url(../img/logo_bo_posi.svg) no-repeat left center;
      background-size: contain;
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}
.globalNav {
  display: flex;
  align-items: center;
  height: 100%;
}
.globalNavItem {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: transform .3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(.73, .01, .29, 1);
  span {
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      content: '';
      transition: all .3s ease-out;
    }
  }
  &:hover {
    span:before {
      right: auto;
      left: 0;
      width: 100%;
    }
  }
}
.shapeOverlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  &.isOpened {
    pointer-events: auto;
  }
}
.shapeOverlaysPath {
  &:nth-of-type(1) {
    fill: #dce3f1;
  }
  &:nth-of-type(2) {
    fill: #869ccc;
  }
  &:nth-of-type(3) {
    fill: #30436f;
  }
  &:nth-of-type(4) {
    fill: #0d1831;
  }
}



/*------------------------------------------------------------------------------------

  hero

------------------------------------------------------------------------------------*/
body.loaded {
  .hero {
    &:before {
    -webkit-animation: slideAnm 1s 0s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
    animation: slideAnm 1s 0s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
    }
  }
  .catchPhrase {
    &:before {
      -webkit-animation: slideAnm 1s .35s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
      animation: slideAnm 1s .35s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
    }
  }
}
.hero {
  position: relative;
  height: 100%;
  background: url(../img/hero.jpg) no-repeat right center;
  background-size: cover;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkBlue;
    content: '';
  }
  *::selection {
    background-color: #fff;
    color: $darkBlue;
  }
  *::-moz-selection {
    background-color: #fff;
    color: $darkBlue;
  }
  .heroInner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  .boLogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .catchPhrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: $darkBlue;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #fff;
      content: '';
    }
    h1,
    p {
      position: relative;
      color: #fff;
    }
    h1 {
      font-weight: 500;
      letter-spacing: -.01em;
    }
    p {
      opacity: .7;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: .05em;
    }
  }
  .cmnBtn {
    position: relative;
    border-color: #fff;
    background-color: #fff;
    color: $darkBlue;
    &:hover {
      background-color: $darkBlue;
      color: #fff;
    }
  }
}
@media all and (-ms-high-contrast: none) {
  .hero:before {
    display: none;
  }
  .catchPhrase:before {
    display: none;
  }
}



/*------------------------------------------------------------------------------------

  section

------------------------------------------------------------------------------------*/
.wrapper {
  position: relative;
  background-color: #fff;
  *::selection {
    background-color: $blue;
    color: #fff;
  }
  *::-moz-selection {
    background-color: $blue;
    color: #fff;
  }
  > section {
    margin: 0 auto;
    h2 {
      display: inline-block;
      font-weight: 600;
    }
    > p {
      font-weight: 300;
    }
    > ul,
    > ol {
      li {
        &:nth-child(1):before {
          -webkit-animation-delay: .5s;
          animation-delay: .5s;
        }
        &:nth-child(1):after {
          -webkit-animation-delay: .2s;
          animation-delay: .2s;
        }
        &:nth-child(2):before {
          -webkit-animation-delay: .7s;
          animation-delay: .7s;
        }
        &:nth-child(2):after {
          -webkit-animation-delay: .4s;
          animation-delay: .4s;
        }
        &:nth-child(3):before {
          -webkit-animation-delay: .9s;
          animation-delay: .9s;
        }
        &:nth-child(3):after {
          -webkit-animation-delay: .6s;
          animation-delay: .6s;
        }
        strong {
          line-height: 1.1;
          border-bottom: 1px solid $darkBlue;
        }
        p {
          margin-top: 16px;
          font-weight: 300;
        }
        .communityLink {
          text-align: center;
          a {
            display: inline-block;
            text-decoration: none;
            &:hover {
              svg {
                opacity: .6;
              }
            }
          }
          svg {
            transition: opacity .3s ease-out;
            path,
            rect {
              fill: $darkBlue;
            }
          }
        }
      }
    }
  }
}
.communityLink {
  margin-top: 16px;
  a:nth-last-child(2) {
    margin-right: 16px;
  }
  a:nth-child(2) {
    margin-left: 16px;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}

.btnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cmnBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  padding: 0 24px;
  border: 2px solid $darkBlue;
  color: $darkBlue;
  text-decoration: none;
  transition: all .2s ease-out;
  &:hover {
    background-color: $darkBlue;
    color: #fff;
  }
}

.slideMask {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    will-change: transform;
  }
  &:before {
    background-color: #fff;
  }
  &:after {
    background-color: $darkBlue;
    transform: scale(0, 1);
  }
}

.blurDissolve {
  opacity: 0;
  filter: blur(8px);
  transition: all .6s .3s ease-out;
}

.animated {
  .slideMask,
  &.slideMask {
    &:before {
      -webkit-animation: slideAnmBefore 1s .3s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
      animation: slideAnmBefore 1s .3s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
    }
    &:after {
      -webkit-animation: slideAnmAfter 1s 0s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
      animation: slideAnmAfter 1s 0s 1 cubic-bezier(0.57,-0.01, 0.11, 1) forwards;
    }
    @-webkit-keyframes slideAnmBefore {
      0% {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(1, 1);
      }
      51% {
        -webkit-transform-origin: 100% 50%;
        -webkit-transform: scale(1, 1);
      }
      100% {
        -webkit-transform-origin: 100% 50%;
        -webkit-transform: scale(0, 1);
      }
    }
    @keyframes slideAnmBefore {
      0% {
        transform-origin: 0% 50%;
        transform: scale(1, 1);
      }
      51% {
        transform-origin: 100% 50%;
        transform: scale(1, 1);
      }
      100% {
        transform-origin: 100% 50%;
        transform: scale(0, 1);
      }
    }
    @-webkit-keyframes slideAnmAfter {
      0% {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(0, 1);
      }
      50% {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(1, 1);
      }
      51% {
        -webkit-transform-origin: 100% 50%;
        -webkit-transform: scale(1, 1);
      }
      100% {
        -webkit-transform-origin: 100% 50%;
        -webkit-transform: scale(0, 1);
      }
    }
    @keyframes slideAnmAfter {
      0% {
        transform-origin: 0% 50%;
        transform: scale(0, 1);
      }
      50% {
        transform-origin: 0% 50%;
        transform: scale(1, 1);
      }
      51% {
        transform-origin: 100% 50%;
        transform: scale(1, 1);
      }
      100% {
        transform-origin: 100% 50%;
        transform: scale(0, 1);
      }
    }
  }
  .blurDissolve,
  &.blurDissolve {
    opacity: 1;
    filter: none;
  }
}



/*------------------------------------------------------------------------------------

  footer

------------------------------------------------------------------------------------*/
.globalFooter {
  background-color: $darkBlue;
  .footerInner {
    display: flex;
    align-items: center;
    height: 100%;
  }
  a {
    display: inline-block;
    opacity: .8;
    overflow: hidden;
    height: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
  }
  small {
    flex: 1 auto;
    color: rgba(255,255,255,.8);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .1em;
    text-align: right;
  }
}


