@charset "utf-8";
@import 'common';

/*------------------------------------------------------------------------------------

  base

------------------------------------------------------------------------------------*/
body {
  font-size: 16px;
}



/*------------------------------------------------------------------------------------

  header

------------------------------------------------------------------------------------*/
.globalHeader {
  padding: 0 8px 0 24px;
}
.globalNav {
  justify-content: flex-end;
}
.globalNavItem {
  padding: 0 16px;
  &.btn {
    margin: 0 16px;
  }
}
.spMenuBtn {
  display: none;
}



/*------------------------------------------------------------------------------------

  hero

------------------------------------------------------------------------------------*/
@-webkit-keyframes slideAnm {
  to {
    -webkit-transform: scale(0, 1);
  }
}
@keyframes slideAnm {
  to {
    transform: scale(0, 1);
  }
}
.hero {
  &:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
  .boLogo {
    width: 50%;
    height: 100%;
    padding: 5vh 5vw;
    img {
      height: 20vh;
    }
  }
  .catchPhrase {
    width: 50%;
    height: 100%;
    padding: 10vh 5vw 5vh;
    &:before {
      -webkit-transform-origin: right center;
      transform-origin: right center;
    }
    h1 {
      line-height: 1.1;
      font-size: 8vh;
    }
    p {
      margin-top: 24px;
      font-size: 2.5vh;
    }
    .btnWrap {
      margin-top: 56px;
    }
  }
}



/*------------------------------------------------------------------------------------

  section

------------------------------------------------------------------------------------*/
.wrapper {
  padding-bottom: 160px;
  > section {
    max-width: 1024px;
    padding: 120px 40px 0;
    h2 {
      margin-bottom: 32px;
      font-size: 36px;
    }
    > ul,
    > ol {
      display: flex;
      margin: 0 -20px;
      li {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 20px;
        strong {
          display: flex;
          align-items: flex-end;
          padding-bottom: 12px;
          font-size: 26px;
        }
        p {
          flex: 1 auto;
          margin-top: 16px;
        }
      }
    }
  }
}

.btnWrap {
  margin-top: 64px;
  p + .cmnBtn {
    margin-top: 32px;
  }
}
.cmnBtn {
  height: 56px;
  font-size: 20px;
}



/*------------------------------------------------------------------------------------

  footer

------------------------------------------------------------------------------------*/
.globalFooter {
  height: 80px;
  .footerInner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
  a {
    width: 115px;
    background-image: url(../img/logo_lm.svg);
  }
}


